@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    background: linear-gradient(90deg, rgb(100, 100, 100) 0%, rgb(86,86,86) 30%, rgb(86,86,86) 70%, rgb(100,100,100) 100%);
    color: #FFDF6C;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
  }
  
  #big {
    width: 50%;
    margin: 25vh auto 7vh auto;
    text-align: center;
  }

  p {
    margin-top: 5px;
  }
  
  #time-left {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  button {
    background-color: #929D9E;
    border: 0px;
    border-radius: 8px;
  }
  
  .bgbtn {
    width: 75px;
    height: 50px;
  }
  
  #controls {
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 40px;
  }
  
  .subs {
    margin: 0 auto;
    text-align: center;
  }

  span {
    display: inline-block;
    width: 45px;
  }
  
  .num {
    font-size: 1.3em;
    padding: 0 5px 0 5px;
  }

  .btn-sm {
    width: 30px;
    height: 25px;
    padding-top: 4px;
  }
  
  .label {
    font-size: 0.9em;
    color:  #ffdf6cb0;
  }
  
  
  
/*   #929D9E lightgrey
     #F3E367 lightyellow
     #202020 almostblack
     #FFDF6C otheryellow */