* {
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom right, 
        rgba(55, 00, 22, 0.8), 
        rgba(22, 00, 66, 0.7)
      ),
      url(https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b);
    background-size: cover;
    background-position: top;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
  }
  .top{
    text-align: center;
    color: #eee;
  }
  .top h1 {
    font-weight: 900;
    letter-spacing: 0.3em;
  }
  #survey-form {
    width: 100%;
    margin: 1.7em auto 18px auto;
    padding: 2.6em;
    border-radius: 5px;
    color: #eff;
    background: #a89a32;
  }
  
  
  @media (min-width: 576px) {
    #survey-form {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    #survey-form {
      max-width: 720px;
    }
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .group {
    padding: 0.6em 0.8em 0.2em 0.8em;
    margin: auto;
  }
  
  .input-field {
    display: block;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    border-width: 0;
  }
  
  label, 
  .group p {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  fieldset{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  button {
    width: 100%;
    margin: 12px auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #becf11;
  }