body {
    background-color: #515b94;
    font-family: 'Solway', serif;
  }
  #quote-box{
    max-width: 700px;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #77ddcc;
    box-shadow: 5px 5px 10px black;
  }
  #text{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    padding: 45px 50px 0 50px;
  }
  #author{
    text-align: right;
    padding: 0 80px;
  }
  #buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  button{
    width: 150px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7788dd;
    color: #eeeeff;
  }
  a {
      text-decoration: none;
      color: #eeeeff;
  }