* {
margin: 0;
padding: 0;
}

body {
font-family: 'Merriweather', serif;
}

#navbar {
background: #6e9dd3;
background: linear-gradient(90deg, #6e9dd3 0%, #a0bcd5 37%, #335184 61%, #6e9dd3 100%);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 40px;
display: flex;
justify-content: flex-end;
padding-top: 20px;
z-index: 2;
}
ul{
    display: flex;
    list-style: none;
    padding-right: 50px;
}
#navbar a {
color: #ffffff;
padding: 10px 50px 10px 30px;
}

a {
text-decoration: none;
}

#welcome-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #d39d6e;
width: 100%;
height: 100vh;
margin: 0;
}

#projects {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background: #d3bca2;
width: 100%;
min-height: 100vh;
}
#projects h2 {
padding-top: 68px;;
}
#card-container {
width: 60%;
margin: 40px auto;
display: flex;
justify-items: center;
flex-wrap: wrap;
}

@media (max-width: 600px) {
#card-container {
    width: 80%;
}
}

.project-tile {
display: flex;
flex-direction: column;
width: 320px;
margin: 10px;
padding: 10px;
border: 1px solid #cea99e;
}
.project-name {
height: 2em;
margin-bottom: 10px;
}
.project-tile img {
max-width: 300px;
border: 1px solid #cea99e;
}
.stack {
font-family: 'Roboto Mono', monospace;
padding-bottom: 5px;
}
.description {
font-family: 'IBM Plex Sans', sans-serif;;
font-size: 0.9em;
padding: 1px 20px 2px 15px;
}
#profile-link {
border: 2px solid #777;
padding: 10px;
margin-bottom: 15px;
color: #444;
}
#profile-link a:visited {
color: #444;
}

#social {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: #727375;
width: 100%;
height: 100vh;
margin: 0;
}
#social a {
padding: 30px;
}

#attrib {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 3px;
    background: #727375;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.8em;
    text-align: left;
}