body{
    font-family: 'Roboto', sans-serif;
      background-color: black;
  }
  
  #container {
    width: 80vw;
    height: 90vh;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    background-color: black;
    color: #00ff33;
  }
  
  .label{
    text-align: center;
    font-size: 1.3em;
  }
  
  #editor {
    font-family: 'Overpass Mono', monospace;
    background-color: #282828;
    color: #00ff33;
    width: 500px;
    height: 70%;
    padding: 12px;
  }
  
  #preview {
    background-color: #fbfbf8;
    color: black;
    width: 720px;
    height: 75%;
    overflow-y: auto;
    padding: 20px;
  }