* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#big-text {
    padding: 60px 30px 40px 30px;
}
h1 {
    text-align: center;
}

#main {
    display: flex;
    width: 60vw;
    margin: auto;
}

#main div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;;
}

input[type="text"] {
    height: 80px;
    width: 80px;
}

#button-div {
    display: flex;
    width: 40vw;
    margin: auto;
    padding: 20px 0;
    
}
#button {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    border: 1px solid rgb(131, 78, 131);
    border-radius: 5px;
    background-color: rgb(51, 212, 212);
}