* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    background-color: #f9f9f9;
  }
  
  header {
    border: 0;
    width: 100%;
    background: #42b3f5;
    top: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  
#header-img {
  max-width: 100%;
  max-height: 70px;
  margin-top: 6px;
  padding-left: 12px;
}

  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    padding: 1em;
    color: black;
  }
  
  .navigation a:hover {
    background: #35a6f5;
  }
  
  @media (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  .display {
    margin-top: 120px;
  }
  
  h1 {
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
  }
  
  #amazing {
      padding-top: 0;
      border-top: 0;
      font-size: 2.5em;
      display: block;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
  }
  
  @keyframes moveInLeft {
      0% {
          transform: translateX(-100px);
      }
  
      80% {
          transform: translateX(10px);
      }
  
      100% {
          transform: translate(0);
      }
  }
  
  .less {
      display: block;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease-out;
  }
  
  @keyframes moveInRight {
      0% {
          transform: translateX(100px);
      }
  
      80% {
          transform: translateX(-10px);
      }
  
      100% {
          transform: translate(0);
      }
  }
  
  @media (max-width: 500px) {
  
    #header-img {
      display: none;
    }

    #nav-bar {
      width: 100%
    }

    .navigation {
      flex-direction: column;
      padding: 0;
    }
    .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
    .display{ 
      margin-top: 200px;
    }
    h1 {
      font-size: 2em;
    }
  }
  
.contents {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}

video {
  width: 100%;
  z-index: -1;
  padding-bottom: 20px;
}

.form {
  margin-left: 5px;
  margin-right: auto;
}

#email {
  width: 200px;
  border: 1px solid black;
  padding: 3px;
  border-radius: 2px;
}

#submit {
  background-color: #45b6f5;
  border: 2px solid #2596f5;
  padding: 2px;
  border-radius: 2px;

}

footer {
  padding-top: 60px;
  text-align: right;
  font-size: 0.8em;
}
